body {
  margin: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 20px;
  text-align: justify;
}
.pie{
  text-align: center;
}

p {
  margin-bottom: 80px;
}

.juancho{
  display: inline-block; 
  padding: 10px 20px;
  background-color: rgb(255, 116, 2);
  color: white; 
  text-align: center; 
  border-radius: 5px; 
  text-decoration: none; 
  cursor: pointer; 
  border: none; 
  transition: background-color 1s ease;
}

.juancho:hover {
  background-color: #ecf01d;
}

.comment-box {
  border: 2px solid #007bff; 
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.imagen1{
  float: left;
  margin-right: 20px;
  background: url('sombra.png') no-repeat bottom right;
  text-align: right;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.justificado{
  text-align: justify;
  text-align: left;
}

.imagen2{
  float: right;
  margin-right: 20px;
  background: url('sombra.png') no-repeat bottom right;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.imagen3{
  float: left;
  margin-right: 20px;
  background: url('sombra.png') no-repeat bottom right;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.maquinita {
  padding: 5px,800px,5px,800px;
  overflow: hidden;
  border-right: 0.15em solid rgb(251, 251, 151);
  white-space: nowrap;
  animation: typing 3s steps(30, end) infinite;
  margin-top: inherit 70px;
  margin-left: 200px;
  margin-top: 50px;
}

header{
  background-color: #f0f0f0;
  margin: 0px;
  padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.opigran {
      animation: girar 1s infinite linear;
    }
    
    @keyframes girar {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

  .logo {
    width: 100px;
    height: 950px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: fixed;
    top: 60px;
    position: absolute;
    top: 80px;
    left: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    

  }
    
   @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
      @keyframes girar {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

#logo{
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  text-align: center;
  margin: 30px;
}
#logo h1 {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  text-align: center;
}

textarea {
  width: 80%; /* Ajusta el ancho según tus necesidades */
  background-color: rgba(255, 100, 255, 0.8); /* Fondo blanco con 80% de transparencia */
  border: 1px solid #ccc;
  padding: 10px;
  resize: vertical; /* Permite redimensionar verticalmente */
} 